.col-md-5 {
    font-family: Montserrat;
    font-style: normal;
}

.main-heading {
    font-weight: 600;
    font-size: 24px;
}

.presents {
    font-weight: 600;
    font-size: 24px;
    color: #9C9C9C;
}

.purple-heading {
    font-size: 28px;
    color: #727AFF;
    font-weight: bold;
}

.card {
    border-radius: 12px;
}

body {
    overflow: hidden;
}

.chat-window {
    overflow: scroll;
    height: 500px;
}

.btn-primary {
    background-color: #727AFF !important;
    border-color: #727AFF !important;
}